{# salut voici le token

<br>

<a href="{{ url('confirm_account', {"token": token}) }}">Cliquer ici pour confirmer votre compte</a> #}

<H1>Bonjour, </H1>

<br>

<h2>Pour activer ton compte sur Apprends le SQL - MIAGE - Bordeaux, 
clique sur ce lien et reconnecte toi : </h2>

<a href="{{ url('confirm_account', {"token": token}) }}"><input class="favorite styled"
       type="button"
       value="Cliquer ici pour confirmer votre compte"></a>

<ul>
    <li>Identifiant : </li>
    <li>Mot de passe : </li>
</ul>

<h2> A très vite ! </h2>
</br> 

<img src="{{ asset('images/logo_schéma.png') }}">
{# <img src="img_chania.jpg" alt="Universite bordeaux"> #}

</br>
